<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Resto catalogue recommended for you">
    <meta name="theme-color" content="white"/>
    <title>Resto Catalogue</title>
    <link rel="manifest" href="./manifest.json">
    <link rel="apple-touch-icon" type="image/png" href="./images/icons/icon1.png">
    <link rel="shortcut icon" type="image/png" href="./images/icons/icon1.png">
</head>
<body>
    <skip-content> </skip-content> 
    <nav-view></nav-view>
    <hero-view></hero-view>
    <div id="preload"></div>
    <main id="main-content">
        <div class="content">
            
        </div>
    </main>
    <footer-view></footer-view>

    <!-- import fontawesome CDN-->
    <script src="https://kit.fontawesome.com/29d78cd7a8.js" crossorigin="anonymous"></script>
</body>
</html>
