@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=David+Libre&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    width: 100%;
}
.hero{
    width: 100%;
    display: flex;
    justify-content: center;
}
.header{
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("/images/heros/hero-image_2-small.jpg");
    min-height: 480px;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-position: center;
    background-size: cover;
    padding: 30px 0;
}

.header h1 {
    color: white;
    font-weight: 600;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
    letter-spacing: 2px;
    font-size: 2.5em;
}
.header h2 {
    color: white;
    text-align: center;
    font-weight: 100;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
}
.restoran h2 {
    padding-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'David Libre', serif;
}
.rate h2 {
    margin-left: 30px;
    font-family: 'David Libre', serif;
}
.rates h2 {
    margin-left: 30px;
    font-family: 'David Libre', serif;
    margin-top: 60px;
}


/* navbar */
nav {
    display: flex;
    background-color: rgb(131, 46, 88);
    justify-content: space-around;
    height: 50px;
    width: 100%;
    align-items: center;
    color: rgb(249, 252, 63);
    z-index: 99;
}

nav .logo {
    font-family: 'David Libre', serif;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none; 
    width: 40%; 
    height: 100%; 
    position: fixed;
    justify-content: space-between;
}

nav ul li a {
    color: rgb(249, 252, 63);
    text-decoration: none;
    font-size: 1.0em;
    padding: 15px;
}

nav ul li a:hover {
    color: rgb(254, 255, 209);
}

/* hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    background-color: unset;
    border: unset;
}

.menu-toggle input {
    position: absolute;
    width: 44px;
    height: 44px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(249, 252, 63);
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

.card  {
    max-width: 100%;
    background-color: rgb(255, 255, 255) ;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 5px 9px 32px -13px rgba(0,0,0,0.68);
    border-radius: 15px 15px 15px ;
    overflow: hidden;
    margin: 0 auto 30px auto;
    max-height: 100%;
    flex-shrink: 0;
    margin-right: 40px;
} 

.card-header{
    color: rgb(0, 0, 0);
    font-size: 1.8em;
    margin-bottom: 20px;
}
.card-header2 {
    color: rgb(0, 0, 0);
    font-size: 1.8em;
    margin-bottom: 10px;
    margin-top: 20px;
}
.card-header2 p {
    /* font-family: 'Pacifico', cursive; */
    font-family: 'David Libre', serif;
}
.card-header p {
    font-family: 'David Libre', serif;
}
.card-picture img{
    width: 100%;
}
.card-picture {
    margin: 0 auto;
    max-height: 250px; 
    overflow: hidden;
}
.card-picture2 img {
    width: 100%;
}
.card-picture2 {
    margin: 0 auto;
    max-height: 150px; 
    overflow: hidden;
}
.card-description {
    margin: 20px auto;
    padding: 0 20px;
    font-size: 0.8em;
}

.card-description2 {
    padding: 0 20px;
    font-size: 0.8em;
    margin: 20px auto;
}

.card-description .card-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.card-description2 .btn-desc2 {
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: center;
    cursor: pointer;
    transform: scale(1.0);
    box-shadow: 3px 3px 10px rgba(51, 51, 51, 0.651);
    background-image: linear-gradient(45deg, #03eea7, #4a61e2);
    color: white;
    
}
.card-description2 .btn-desc2 a {
    color: white;
}

/*  card testimoni */
 .card-testi {
    background-color: rgb(253, 252, 252);
    height: 500px;
    width: 350px;
    position: relative;
    top: 50%;
    left: 200px;
    transform: translate(-50%, -50%);
    box-shadow: 15px 20px 40px rgba(0,0,0,0.15);
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}
 .card-profile {
    height: 30%;
    width: 100%;
    background-image: linear-gradient(45deg, #0384ee, #96eaf9);
    position: absolute;
    bottom: 0;
    border-radius: 140px 140px 0 0;

}
.card-img {
    width: 30%;
    border-radius: 50%;
    border: 8px solid white;
    box-sizing: content-box;
    position: relative;
    bottom: 55px;
}
.card-name {
    color: white;
    position: relative;
    bottom: 52px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 27px;
    margin-right: 27px;
}
.card-info {
    position: relative;
    bottom: 50px;
    color: rgba(255,255,255,0.75);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.card-desc {
    padding: 0 25px;
    top: 95px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    color: #00004d;
}
.quote  { 
    font-size: 180px;
    margin: 5px auto;
    background-image: linear-gradient(45deg, #03b7ee, #49b1ee);
    -webkit-background-clip: text;
    color: transparent;
}
.review-user {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: scroll;
    padding-top: 250px;
}

.review-user2 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: scroll;
    padding-top: 50px;
}

.review-user .card-testi {
    max-height: 100%;
    max-width: 100%;
    flex-shrink: 0;
    margin: 0 30px;
    text-align: center;
    transition: 0.5s;
    background-color: rgb(240, 238, 238);
}

.btn {
    padding: 15px;
    font-size: 12px;
    width: 130px;
    border-radius: 8px;
    border: unset;
    transition: 0.5s;
}
.btn:active {
    opacity: 0.7;
    transition: unset;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.20);
    box-shadow: 3px 3px 15px rgba(51, 51, 51, 0.651);
}
.btn-desc {
    background-color: rgb(29, 154, 163);
    color: white;
}
.btn-desc a {
    color: white;
}


#list {
    display: flex;
    padding: 50px 20px; 
    flex-wrap: nowrap; 
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: unset;
    margin-bottom: 70px;

}
#list .card {
    transition: transform 0.5s;
    margin-bottom: 50px;
    flex-shrink: 0;
}

footer {
    width: 100%;
    padding: 30px 0;
    background-color: rgb(41, 41, 41);
    color: white;
    text-align: center;
    display: flex;
    font-weight: bold;
}

footer p {
    margin: auto;
}

.skip-link {
    position: absolute;
    left: -300px;
    background-color: #3f7a9c;
    color: white;
    padding: 8px;
    z-index: 100;
 }
  
 .skip-link:focus {
    left: 0;
 }

 .detail .head img {
    margin: 30px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 5px 9px 32px -13px rgba(0,0,0,0.68);
}
.head {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail .head table {
    margin: 0 auto;
    width: 85%;
    margin-top: 50px;
    flex-wrap: wrap;
}

.detail .head tr {
    display: block;
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid black ;
}

.detail h2 {
    margin-bottom: 25px;
    text-align: center;
    margin-right: 30px;
}
.detail .he h2 {
    text-align: left;
    margin-top: 30px;
}
.head td i {
    margin-right: 15px;
    left: 0;
}
.head tr a {
    padding-right: 20px;
}
.desc {
    margin-top: 20px;
    display: flex;
}
.desc p {
    font-family: 'Montserrat', sans-serif;
}

#categories {
    display: flex;
    flex-wrap: wrap;
}
#categories a {
    display: block;
    background-color: #f7276c;
    padding: 5px 5px;
    border-radius: 6px;
    color: white;
    margin-right: 10px;
    margin-top: 5px;
    text-align: center;
}

.menu {
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 20px 20px;
}
.list h3 {
    font-size: 1.3em;
    margin: 30px 0;
    font-family: 'Montserrat', sans-serif;
}
.list p {
    padding: 5px 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    background-image: linear-gradient(45deg, #ee038c, #506afd);
    color: white;
    
}
.list {
    width: 50%;
    box-sizing: border-box;
    padding: 12px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 15px;
    margin-bottom: 70px;
}
.form input, .form textarea {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid rgba(65, 47, 230, 0.1);
    box-shadow: 0 6px 15px rgba(26, 26, 26, 0.1);
}
.form input {
    border-radius: 8px;
    height: 50px;
}
.form textarea {
    min-height: 100px;
    border-radius: 8px;
}
.form .card-btn button{
    color: white;
    font-size: 1.0em;
    background-color: rgb(0, 153, 255);
    margin-top: 40px;

}
#submit {
    background-color: rgb(131, 46, 88);
}

.error{
    margin: 100px 15px;
    color: red;
}

/* Like */
.like {
    font-size: 18px;
    position: fixed;
    right: 20px;
    z-index: 1;
    bottom: 20px;
    color: white;
    background-color: rgb(119, 24, 68);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    width: 55px;
    height: 55px;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 3px 10px rgba(0, 64, 124, 0.25);
}

.card2 {
    max-height: 600px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 5px 9px 32px -13px rgba(0,0,0,0.68);
    border-radius: 15px 15px 15px;
    overflow: hidden;
    margin: 0 auto 30px auto;
    max-height: 100%;
    flex-shrink: 0;
    margin-right: 40px;
    text-align: center;
}

.card-fav {
    max-width: 100%;
    background-color: rgb(255, 255, 255) ;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 5px 9px 32px -13px rgba(0,0,0,0.68);
    border-radius: 15px 15px 15px ;
    overflow: hidden;
    max-height: 100%;
    flex-shrink: 0;
    margin-right: 30px;
}

.preloader{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.preloader img {
    margin: 0 auto;
}



